@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary-color: #D24D57;
$secondary-color: #cee3e9;
$divider-color: #404b5e;
$background-color: #1f2632;
$quote-box-background-color: #323a49;

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: #cee3e9;

    a {
        color: $primary-color;
        text-decoration: none;
    }
}

.hidden {
    display: none;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    color: $secondary-color;
    text-transform: uppercase;

    .logo {
        display: flex;

        .random {
            font-weight: bold;
        }

        .quote {
            padding-left: 4px;
            color: $primary-color;
        }
    }

    ul {
        display: flex;
        list-style-type: none;

        .hamburger {
            width: 35px;
            cursor: pointer;

            .line {
                background-color: $secondary-color;
                border-radius: 10px;
                height: 3.5px;
                margin: 3.5px 0;
                transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

                &:nth-of-type(1) {
                    width: 50%;
                }

                &:nth-of-type(2) {
                    width: 100%;
                }

                &:nth-of-type(3) {
                    width: 75%;
                }
            }
        }

        #checkbox_toggle {
            display: none;
        }

        .menu {
            z-index: 10;
            display: flex;
            gap: 1em;
        }
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    hr {
        width: 95%;
        margin-top: 5px;
        border: 1px solid $divider-color;
    }

    .quote-wrap {
        min-height: 200px;
        min-width: 300px;
        padding: 0 10px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        #quote-id {
            display: none;
        }

        .quote-box {
            position: relative;
            text-align: center;

            #quote-author {
                font-weight: 400;
                color: $primary-color;
                letter-spacing: 1px;
            }

            .quote-text {
                position: relative;
                text-align: center;
                font-size: 1.3em;
                font-weight: 600;
            }
        }
    
        .quote-buttons {
            button {
                position: relative;
                padding: 14px;
                font-size: 13px;
                color: #fff;
                letter-spacing: .08em;
                border: 1px solid $primary-color;
                background-color: transparent;
                transition: transform 1s ease;
                cursor: pointer;

                &::after {
                    opacity: 0;
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-color: transparent;
                    z-index: -1;
                    background-color: $primary-color;
                    transform: scale(0.1);
                    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
                }

                &.active {
                    background-color: $primary-color;
                }

                &:hover::after {
                    opacity: 1;
                    transform-origin: 50% 50%;
                    transform: scale(1);
                }
            }
        }
    }

    #left-arrow, #right-arrow {
        border: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.3s;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $secondary-color;
        cursor: not-allowed;

        &.active {
            background-color: $primary-color;
            cursor: pointer;
        }

        &.active:hover {
            transform: translateY(-50%) scale(1.1);
        }

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            color: #fff;
            transition: transform 0.3s;
        }
    }

    #left-arrow {
        left: -50px;
    }

    #right-arrow {
        right: -50px;
    }

    .favorite-wrap {
        min-height: 200px;
        min-width: 250px;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .favorite-box {
            position: relative;
            text-align: center;

            #favorite-title {
                font-size: 1.3em;
                font-weight: 600;
                letter-spacing: 1px;

                #favorite-id {
                    color: $primary-color;
                }
            }

            #favorite-author {
                font-weight: 400;
                color: $primary-color;
                letter-spacing: 1px;
            }

            #favorite-text {
                position: relative;
                text-align: center;
                font-size: 1em;
                font-weight: 600;
            }
        }

        .favorite-buttons {
            button {
                position: relative;
                padding: 14px;
                font-size: 13px;
                color: #fff;
                letter-spacing: .08em;
                border: 1px solid $primary-color;
                background-color: transparent;
                transition: transform 1s ease;
                cursor: pointer;

                &::after {
                    opacity: 0;
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-color: transparent;
                    z-index: -1;
                    background-color: $primary-color;
                    transform: scale(0.1);
                    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
                }

                &:hover::after {
                    opacity: 1;
                    transform-origin: 50% 50%;
                    transform: scale(1);
                }
            }
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 30px;

    .fa-heart {
        color: red;
    }
}

footer a, .navbar ul li a, #favorite-text a {
    position: relative;


    &::before {
        content: '';
        display: block;
        position: absolute;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: $primary-color;
        z-index: -1;
        transition: transform .3s ease;
        transform: scaleX(0);
        transform-origin: bottom right;
    }

    &:hover {
        color: white;
        transition: color .3s ease;
    }

    &:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
} 

@media (max-width: 500px) {
    .navbar {
        .logo {
            z-index: 10;
        }

        ul {
            .hamburger {
                display: flex;
                flex-direction: column;
                z-index: 10;
            }

            #checkbox_toggle {
                &:checked ~ .hamburger .line:nth-of-type(1) {
                    transform-origin: bottom;
                    transform: rotateZ(45deg) translate(4px, 0px);
                }

                &:checked ~ .hamburger .line:nth-of-type(2) {
                    transform-origin: top;
                    transform: rotateZ(-45deg);
                }

                &:checked ~ .hamburger .line:nth-of-type(3) {
                    transform-origin: bottom;
                    width: 50%;
                    transform: translate(15px, -5.5px) rotateZ(45deg);
                }

                &:checked ~ .menu {
                    display: block;
                }
            }

            .menu {
                display: none;
                position: absolute;
                background-color: $background-color;
                top: 7vh;
                right: 0;
                left: 0;
                text-align: center;

                li {
                    margin-top: 15px;
                }
            }
        }
    }
}