@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    background-color: #1f2632;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 90vh;
    width: 100%;
}

.box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #323a49;
    border-radius: 10px;

    width: 500px;
    min-height: 310px;
}

.boxWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    min-height: 250px;
}

.boxWrap hr {
    border: 1px solid #404b5e;
    width: 80%;
}

.adviceTitle {
    letter-spacing: 3px;

    font-size: 1.5rem;
    font-weight: 400;
    color: #45e090;
}

#adviceId {
    font-weight: 600;
}

.adviceDescription {
    text-align: center;
    font-size: 28px;
    
    color: #cee3e9;
    padding-bottom: 40px;
    padding: 0 20px 20px 20px;
}

.draw {
    position: absolute;
    bottom: -30px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    padding: 27px;
    border: none;
    border-radius: 50%;
    background-color: #45e090;
    cursor: pointer;
    
    border: 2px solid transparent;
    animation: click 1s infinite alternate-reverse;
}

.draw i {
    font-size: 1.8rem;
    color: #202733;
    transition: 0.2s;
}

.draw:active {
    transform: scale(0.9);
}

.draw:active i {
    transform: rotate(360deg);
}

.draw:disabled {
    transform: scale(1);
    background-color: #cee3e9;
    cursor: not-allowed;
    animation: none;
}

.draw:disabled i {
    transform: rotate(0);
}

.copyright {
    position: relative;
    font-size: 11px;
    bottom: -120px;
    color: #cee3e9;
}

.copyright a {
    color: #45e090;
}

@keyframes click {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 600px) {
    .container {
      width: 375px;
    }
    .box {
      width: 100%;
    }
  
    .advNr {
      font-size: 12px;
    }
  
    .advTxt {
      font-size: 18px;
    }
  
    .draw {
      -webkit-tap-highlight-color: transparent;
    }
  
    .attribution {
      top: 10vh;
    }
}

@media only screen and (max-width: 360px) {
    .container {
      width: 100%;
      background-color: hsl(218, 23%, 16%);
    }
    .box {
      width: 100%;
      min-height: 10vh;
    }
    .advNr,
    .advTxt {
      padding: 0;
    }
    .draw {
      padding: 0;
    }
    .attribution {
      top: 7vh;
      font-size: 10px;
    }
}
